.main{
    background-color: #003580;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-bottom: 65px;
}
.main input{
    margin-top: 129px;
    padding: 13px;
    width:19rem;  
    border-color: rgb(238, 158, 11);
    border-radius: 9px solid;
}
.main input:hover {
    background: beige;
    border-color: orange;
  }
.main .btnn{
    margin-top: 129px;
    padding: 10px;
    background-color:rgb(20, 20, 235);
    color:white;
    border-radius: 9px solid;
    font-size: 19px;
    font-weight: 600;
    border-color: rgb(238, 158, 11);

}
@media screen and (max-width:400px)
{
    .main input{
        width:96px;
        height:17px;
        font-size: 9px;
        padding-left: 2px;

      
    }
}
@media screen and (max-width:400px)
{
    .main{
     padding-bottom: 14px;

      
    }
}
@media screen and (max-width:400px)
{
    .main .btnn{
        width:50px;
        height:30px;
       align-items: center;
        font-size: 9px;
      
    }
}
