 .second-part{
    width:70%;
    display: flex;
    flex-direction: column;
}
.inner-carddtl{
    width:100%;
    display: flex;
    flex-direction: row;
}
 .inner-cardimg{
    width:30%;
    height:40%; 
}  
 .inner-cardimg img{
    height:240px;
    width:90%;
}
.review{
    flex-direction: row;
    display: column;
    /* padding-left: 10px; */
    justify-content: space-between;
    width:50%;

} 

.inner-column{
    display: flex;
    flex-direction: column;

}
.right-col{
    width:20%;
    padding-left: 56px;
}
.right-btn{
    padding-top: 14px;
    width:20%;
}
.inner-prop{
    display: flex;
    flex-direction: row;
    /* gap:10px; */
    justify-content: space-between;
}