
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
 .header .main input{
    /* padding: 9px;
    margin-left: 11px; */
    /* width:200px; */
    box-shadow: 0 0 0 5px black;

}
.header{
    background-color: #003580;
    height: 50px;
    padding-left: 15px;
    
   
  
}
 .header .main label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 17px;
    /* margin-right: 21px; */
    font-weight: 200;
    /* margin: 15px; */
    color: blanchedalmond;
}


.header h1{
    align-items: center;
    justify-content: center;
    color:blanchedalmond;
    /* padding-left: 160px; */
    font-size: 37px;
    font-weight: 900;
    /* padding-top: 29px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header h2{
    color:blanchedalmond;
    /* padding-left: 160px; */
    font-size: 24px;
   font-weight: 600;
    /* padding-top:22px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

@media screen and (max-width:400px) {
    .header h1 {
       padding-left: 4px;
       font-size: 19px;
       padding-top: 4px;
      
      
}
} 
@media screen and (max-width:400px) {
    .header h2 {
       padding-left: 4px;
       font-size: 19px;
      
      
}
} 
@media screen and (max-width:400px) {
    .header {
        height: 50px;
      
}
} 