.container {
    /* padding-top: 65px; */
}

.img-container img {
    height: 325px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* .container2 .row{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 
} */

 /* .container img:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.05);
    transition: 1s ease;
}  */

.container2 {
    padding-top: 35px;
}
.img-sec{
    padding-top: 35px;
    height: 325px;
    width: 570px;
    display: flex;
    flex-direction: row;
    gap:30px;
}


/* .container2 img {
    height: 220px;
    width: 340px;
} */

.row img{
    display: flex;
    object-fit: cover;
    flex-direction: row;
    height:290px;
    width: 425px;
    padding-top: 14px;
}
.col .p{
    object-fit: cover;
}

@media screen and (max-width:400px)
{
    .container img{  
width:100px;
height:90px;
margin-left: 20px;
      }
}
@media screen and (max-width:400px)
{
    .col img{  
width:160px;
height:140px;
margin-left: 10px;
      }
}
@media screen and (max-width:400px)
{
    .container2  img{  
width:120px;
height:115px;
margin-left: 10px;

      }
}
