.crd {
    padding-top: 55px;
}

.card {
    height: 185px;
    width: 83%;
    margin-left: 95px;
    border-radius: 3px;
    padding-bottom: 55px;
    border-width: 2px;
    color: black;
}
.card-body{
    padding-top: 58px;
}

.txt {
    padding-top: 21px;
    padding-left: 165px;
    color: aqua;
}

.txt input {
    width: 55%;
    height: 37px;
    border: 1px solid black;
    padding-left: 9px;
    font-size: 15px;
    padding-top: 2px;
    border-color: black;
    overflow: hidden;
    font-weight: 500;
    color: black;
}

.card-body h4 {
    padding-left: 165px;
    margin-top: 2px;
    font-weight: 800;
    font-size: 24px;
}
.card-body img{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;


}

.card-body h5 {
    padding-top: 3.9px;
    padding-left: 165px;
    font-size: 17px;
    font-weight: 700;

}

.txt button {
    margin-left: 75px;
    height: 37px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    color: blue;
    border-color: blue;
    overflow: hidden;

}
.txt button :hover{
    border-color: rgb(5, 5, 77);
    color: white;
    transition: all;

}




.card img {
    height: 125px;
    width: 125px;
}

@media screen and (max-width:480px){
    .card{
      margin-left: 19px;
      margin-right: 5px;
        height:5%;
        padding-left: 19px;
        width:90%;
        padding-top:25px;
    }
}
@media screen and (max-width:480px){
    .card-body{
     padding-right: 8px;
    }
}
@media screen and (max-width:400px){
    .card-body h4{
 
     font-size: 19px;
     padding-left: 7px;

    }
}
@media screen and (max-width:480px){
    .card-body h5{
        padding-left: 7px;
     font-size: 17px;
    }
}
@media screen and (max-width:480px){
    .txt {
        padding-left: 3px;
      
     
    }
}
@media screen and (max-width:480px){
    .txt input {
        width: 185px;
        height:32px;
      
    }
}
@media screen and (max-width:480px){
    .txt button {
        width:65px;
        height:32px;
        margin-left: 42px;
      
    }
}