.para {
    font-weight: 900;
    font-size: 25px;
    padding-top: 22px;
    padding-left: 113px;
   
}
/* .footer{
    height: 45vh;
} */





.content p {
    font-weight: 700;
    padding-top: 2px;
    margin: 9px;
}

.content h5 {
    font-size: 13px;
    margin: 4px;
}

.content {
    display: flex;
   padding-left: 14px;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-right: 435px;
    justify-content: space-evenly;
    padding-right: 45px;

}